html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
a {
  color: #007206;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #ce2b37;
}
#root {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
button:disabled {
  opacity: 0.5;
}
.flexBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.containerFit {
  width: 99%;
  height: 99%;
  max-width: 600px;
  margin: 0;
}
.containerFit img.wide {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.containerFit img.tall {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.whiteLink,
a.whiteLink:active,
a.whiteLink:visited,
​a.whiteLink,
​a.whiteLink:link {
  color: #ccc;
}
a.whiteLink:hover {
  color: #fff;
}
.gb {
  background-color: #fafafa;
}
.wb {
  background-color: #fff;
}
.one-line {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-title {
  height: 3em;
  line-height: 1em;
}
.quanity {
  font-size: 1.1em;
  min-width: 20px;
  text-align: center;
}
.masthead-height {
  height: 400px !important;
}
.paddingContainer {
  padding: 10px;
}
.paddingAlt {
  padding: 20px;
}
.paddingH {
  padding: 0 20px;
}
@media only screen and (max-width: 600px) {
  .masthead-height {
    height: 150px !important;
  }
  .paddingAlt,
  .paddingContainer,
  .paddingH {
    padding: 0;
  }
}
.masthead-text {
  font-size: 0.9em;
  font-weight: 300;
  background: #000;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0.1em;
  padding: 0.3em;
}
.masthead-media {
  background-size: cover;
}
#cf {
  position: relative;
  top: 0;
  margin: auto;
  padding: 0;
  text-align: center;
}
#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
#cf img.top {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.center {
  text-align: center;
  margin: 0 auto;
}
.centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #fff;
}
/*# sourceMappingURL=main.7cd1dad1.css.map*/
